.signup-title{
    padding-top: 40px;
    font-size: 3em;
    margin-bottom: 5%;
}
 .signup-container{
    width: 80%;
    margin-top: 10%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 5px 5px 14px rgba(56, 56, 56, 0.541) ;
 }
 .signup-container section{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
 }
 .signup-container section .signup-form{
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-grow:1;
 }
 .signup-container section .signup-form div{
    width: 40%;
    height: 26%;
 }
 .signup-container section .signup-form .signup-subcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 5%;
    margin-top: 2%;
 }
 .signup-container section .signup-form .signup-subcontainer input{
    flex-grow: 2;
 }
 .signup-container section div .button-Create{
    width: 100%;
    height: 50px;
    background-color: red;
    color: #fff;
    border:none;
    border-radius: 5px;
    font-size: 1.5em;
 }
 .green-border{
   border: 5px solid green;
}
.red-border{
   border: 5px solid red;
}
p{
   font-size: 12px;
   color: red;
   padding: 5px;
}
.hide{
 display: none;
}