<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz8..144display=swap');
        </style>
        <link rel="stylesheet" href="../Styles/reset.css">
        <link rel="stylesheet" href="../Styles/style.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/main.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/login.css">
        <link rel="stylesheet" href="../Styles/sign-up.css">
        <script src="../Javascript/sign-up.js"></script>
        <title>Trackgenix</title>
    </head>
    <body>
        <header>
            <aside class="desktop-sidebar">
                <div class="sidebar-container">
                    <p class="navbar-item-1">
                        <img src="../Assets/home-1.svg" alt="Icon Home">
                        <a href="index.html">Home</a> 
                    </p>
                </div>
                <div class="sidebar-container">
                    <p class="navbar-item-2">
                        <img src="../Assets/user-question.svg" alt="Icon Userq">
                        <a href="./sign-up.html">Sign Up</a>
                    </p>
                    <p class="navbar-item-3">
                        <img src="../Assets/user-1.svg" alt="Icon User">
                        <a href="./login.html">Log In</a>
                    </p>
                </div>
                <div class="sidebar-container">
                    <p class="navbar-item-4">
                        <img src="../Assets/chevron-circle-right.svg" alt="Icon Chevron">
                        <a href="#">Contact</a>
                    </p>
                    <p class="navbar-item-5">
                        <img src="../Assets/phone.svg" alt="Icon Phone">
                        <a href="#">(000)000-0000</a>
                    </p>
                    <p class="navbar-item-6">
                        <img src="../Assets/mail.svg" alt="Icon Mail">
                        <a href="#">trackgenixsupp@rr.com</a>
                    </p>
                </div>
                <div class="menu-icon">
                    <img src="../Assets/icons8-menu-30.png" alt="Icon Menu">
                </div>
            </aside>
            <div class="title-icon-menu">
                <h1 id="main-title">
                    Trackgenix
                </h1>
            </div>
        </header>
        <main>
            <div class="signup-container">
                <section>
                    <h2 class="signup-title">
                        Sign Up
                    </h2>
                    <form class="signup-form">
                        <div class="singup-column1">
                            <div class="signup-subcontainer">
                                <label >First Name</label>
                                <input type="text" id="first-name" name="fname">
                            </div>
                            <div class="signup-subcontainer">
                                <label >Email</label>
                                <input type="text" id="username" name="email">
                            </div>
                            <div class="signup-subcontainer">
                                <label >Address</label>
                                <input type="text" id="address" name="address">
                            </div>
                            <div class="signup-subcontainer">
                                <label >Password</label>
                                <input type="password" id="password" name="password">
                            </div>
                        </div>
                        <div class="singup-column2">
                            <div class="signup-subcontainer">
                                <label >Last Name</label>
                                <input type="text" id="last-name" name="lname">
                            </div>
                            <div class="signup-subcontainer">
                                <label >Phone number</label>
                                <input type="text" id="phone" name="phone">
                            </div>
                            <div class="signup-subcontainer">
                                <label >Country</label>
                                <input type="text" id="country" name="country">
                            </div>
                            <div class="signup-subcontainer">
                                <label >Repeat Password</label>
                                <input type="password" id="password-confirm" name="confirmpassword">
                            </div>
                        </div>
                    </form>
                    <input class="button-Continue" type="submit" value="Continue">
                </section>
            </div>
        </main>
        <footer class="main-footer">
            <nav class="footer-nav">
                <a href="#"><img src="../Assets/Facebook.png" alt="Icon Facebook"></a>
                <a href="#"><img src="../Assets/Twitter.png" alt="Icon Twitter"></a>
                <a href="#"><img src="../Assets/Linkedin.png" alt="Icon Linkedin"></a>
                <a href="#"><img src="../Assets/Instagram.png" alt="Icon Instagram"></a>
            </nav>
            <h3>
                Rosario, Argentina
            </h3>
            <p>
                Copyright © 2022 Radium Rocket. All rights reserved
            </p>
        </footer>
    </body>
</html>