body {
    background-color: #fff;
    font-family:Roboto, Flex, sans-serif;
}

aside {
    position:fixed;
    float:left;
    width: 277px;
    height: 983px;
    left: 0px;
    top: 0px;
    text-align: center;
    font-weight: 700;
    background: #FF0000;
}

#main-title {
    position: relative;
    margin: 86px;
    margin-left: 20px;
    padding-top: 40px;
    background-color: #FF0000;
    color: #fff;
    height: 80px;
    width: 686px;
    left: 466px;
    border-radius: 15px;
    text-align: center;
    font-size: 42px;
    font-weight: 700;    
}

#main-container {
    float: right;
    margin-left: 500px;
}

.button{
    float: right;
    margin-right: 150px ;
    margin-top: 10px;
    background-color: #FF0000;
    color: #fff;
    padding: 10px 15px;
    width: 260px;
    height:40.64px;
    border:none;
    border-radius: 5px;
}
.navbar-item-1 {
    font-size: 24px;
    margin-top: 94px;
    margin-bottom: 272px;
    padding-right: 80px;
}

.navbar-item-1 a {
    padding-left: 10px;
    color: #fff;
    text-decoration: double underline;
}
.navbar-item-1 img {
    padding-left: 54px;
    width: 34px;
    height: 30px;
}
.navbar-item-2 {
    font-size: 20px;
    margin-bottom: 46px;
    padding-right: 80px;  
}
.navbar-item-2 a {
    color: #fff;
    text-decoration: none;
}
.navbar-item-2 img {
    padding-left: 64px;
    padding-right: 15px;
    width: 34px;
    height: 30px;
}
.navbar-item-3 {
    font-size: 20px;
    margin-bottom: 346px;
}
.navbar-item-3 a {
    margin-right: 110px;
    color: #fff;
    text-decoration: none;
}
.navbar-item-3 img {
    float: left;
    margin-left: 54px;
    padding-right:15px ;
    width: 34px;
    height: 30px;
}
.navbar-item-4 {
    margin-right: 125px;
    margin-left: 29px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight:400;
    
}
.navbar-item-4 a {
    color: #fff;
}
.navbar-item-5 {
    margin-right: 94.86px;
    margin-left: 28px;
    margin-bottom: 18px;
    font-size: 16px;
    font-weight: 400;    
}
.navbar-item-5 a {
    color: #fff;
    text-decoration: none;
}
.navbar-item-6 {
    margin-right: 40px;
    margin-left: 29px;  
    margin-bottom: 26px;
    font-size: 16px;
    font-weight: 400;
}
.navbar-item-6 a {
    color: #fff;
    text-decoration: none;
}
.main-h2{
    margin-left: 593px;
    font-style: italic;
    margin-bottom: 86px;
}

.article-container{
    display: inline-block;
    width: 24%;
    margin-top: 80px;
    margin-bottom: 400px;
    margin-left: 138px;
    font-style: italic;
}
.img1{
    margin-top: 0px;
    margin-bottom: -129px;
    margin-left: 490px;
}
.secondary-title{
    position: relative;
    margin: 86px;
    margin-left: 20px;
    padding-top: 30px;
    background-color: #FF0000;
    color: #fff;
    height: 50px;
    width: 472px;
    left: 576px;
    text-align: center;
    font-size: 28px;
    font-weight: 700;    
}
.funcionalities-container{
    display: inline-block;
    width: 4%;
    padding-top: 86px;
    margin-left: 446px;
    margin-bottom: 80px;
}
.terciary-title{
    position:absolute;
    margin-left: 128px;
    margin-top: -28px;
    padding-left: 20px;
    font-size: 32px;
    color:#000;
    font-weight: bold;
}
.article-icon{
    display: inline-block;
    width: 17%;
    margin-left: 326px;
    padding-top: 94px;
    padding-left: 0px;
    text-align: center;
}
.cuaternary-title{
    font-weight: 500;
    font-size: 24px;
    color: #000;
    padding-bottom: 10px;
}
.fun-container{
    position: relative;
    display: inline-block;
    width: 158%;
    margin-top: -80px;
    padding-left: 149px;
    margin-bottom: 180px;
}
.request-title{
    position: relative;
    margin: 86px;
    margin-left: 442px;
    padding-top: 30px;
    background-color: #FF0000;
    color: #fff;
    height: 50px;
    width: 737px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;  
    line-height: 28.13px;  
}
.request-form{
    position: absolute;
    margin-left: 442px;
    margin-top: -86px;
    margin-right: 10px;
    width: 737px;
    height: 439px;
    background-color: #E5E5E5;
    margin-bottom: 400px;
}
.request-form p{
    margin-top: 25px;
    margin-left: 100px;
    font-size: 22px;
}
.form-group{
    padding-top: 30px;
    padding-left: 100px;
    font-style: normal;
    font-size: 22px;
}
.form-group input{
    float:right;
    margin-right: 150px;
    width: 255px;
    height: 33px;
    color: #FEFEFE;
    border:none;
    margin-bottom: -20px;
}
.form-group textarea{
    float: right;
    margin-right: 150px;
    margin-top: -10px;
    height: 136px;
    width: 255px;
    resize: none;
    border: none;
}
.contact-area-container{
    float: right;
    display: inline-block;
    width: 25%;
    margin-right: 229px;
    margin-bottom: -6px;
}
.contact-area-container input{
    border-style: solid;
    width: 16px;
    height: 16px;
}

.history-container{
    margin-top: 600px;
}