body {
    background-color: #fff;
    font-family:Roboto, Flex, sans-serif;
}

a{
    text-decoration: none;
}

.button{
    align-self: end;
    margin-right: 7%;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #FF0000;
    color: #fff;
    padding: 10px 15px;
    width: 42%;
    height:40.64px;
    border:none;
    border-radius: 5px;
}




@media screen and (min-width: 1024px){
    aside.mobile-sidebar{
        display: none;
    }
  
    aside.desktop-sidebar{
        display: flex;
    } 
    
}


